@import 'tailwindcss';

.custom-shadow {
    box-shadow: -5px 0  10px rgba(0, 0, 0, 0.1), 5px  0 10px rgba(0, 0, 0, 0.1);
}




/* Animácia fade + slide pre obrázky */
.fade-slide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-slide.active {
    opacity: 1;
    transform: translateY(0);
}

#gallery-modal {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#gallery-modal.active {
    opacity: 1;
    transform: scale(1);
}

/* Animácia prechodu obrázkov */
.fade-slide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-slide.active {
    opacity: 1;
    transform: translateY(0);
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.quantity-btn:hover {
    background: #f1f1f1;
}

#quantity {
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px;
    outline: none;
}

#hs-pass-values-to-inputs {
    width: 100%;
    max-width: 400px; /* Alebo podľa potreby */
    height: 10px;
    margin-top: 10px;
}

.noUi-connect {
    background: #6b7280 !important; /* Tmavá sivá */
}

/* Farba základnej dráhy slidera */
.noUi-base {
    background: #d1d5db; /* Svetlo sivá */
}

/* Farba rukovätí (handle) */
.noUi-handle {
    background: #9ca3af !important; /* Stredne sivá */
    border: 2px solid #6b7280 !important; /* Tmavý okraj */
}

/* Pri hoveri na rukoväť */
.noUi-handle:hover {
    background: #6b7280 !important; /* Tmavšia sivá */
}
