@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.custom-shadow {
    box-shadow: -5px 0  10px rgba(0, 0, 0, 0.1), 5px  0 10px rgba(0, 0, 0, 0.1);
}




/* Animácia fade + slide pre obrázky */
.fade-slide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-slide.active {
    opacity: 1;
    transform: translateY(0);
}

#gallery-modal {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#gallery-modal.active {
    opacity: 1;
    transform: scale(1);
}

/* Animácia prechodu obrázkov */
.fade-slide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-slide.active {
    opacity: 1;
    transform: translateY(0);
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.quantity-btn:hover {
    background: #f1f1f1;
}

#quantity {
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px;
    outline: none;
}
